.header {
  display: flex;
  height: auto;
  padding-bottom: 5px;
  background-color: $mainOrange;

  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  &__headline {
    margin: 0;
    padding: 0;
  }

  &__logo {
    align-self: flex-start;
    margin: auto 0;
    width: 32px;
    height: 32px;
    flex-basis: auto;
  }

  &__menu-list {
    font-size: .75rem;
  }

  &__login {
    font-size: .75rem;
    padding-right: 5px;
    margin: auto;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
