.header {
  display: flex;
  height: 50px;
  padding-bottom: 5px;
  background-color: $mainOrange;

  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__headline {
    margin: 0;
    padding: 0;
  }

  &__logo {
    align-self: flex-start;
    margin: auto 0;
    width: 32px;
    height: 32px;
    flex-basis: auto;
  }

  &__menu-list {
    font-size: .75rem;
  }

  &__space {
    margin: auto;
  }

  &__login {
    font-size: .75rem;
    margin: auto 0;
    padding-right: 1rem;
    flex-basis: auto;
    align-self: flex-end;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  @include atMedium {
    &__menu {
      flex-direction: row;
    }

    &__menu-list {
      font-size: .9rem;
      padding-left: 32px;
    }

    &__login {
      font-size: .9rem;
    }

  }
}
