.login {
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-input {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    & input {
      margin-left: 10px;
    }
  }

  &__headline {
    text-align: center;
  }

  &__button {
    margin-top: 10px;
  }
}

